@using WEBSV5TOT.Models;
@model IEnumerable<WEBSV5TOT.Models.Student5Good>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstCriteriasSucc = ViewBag.CriteriasSucceed as List<string>;
    var lstCriterias = ViewBag.Criterias as List<string>;
    var listSorted = new List<string>();
    var i = 1;
    if(lstCriteriasSucc != null)
    {
        var commonElements = lstCriterias?.Intersect(lstCriteriasSucc).ToList();
        var uniqueElements = lstCriterias?.Except(lstCriteriasSucc).ToList();
        listSorted = commonElements?.Concat(uniqueElements).ToList();
    }
    else
    {
        listSorted = lstCriterias;
    }
}

<div class="card">
    <div class="card-header">
        <h4>Danh sách hoạt động bạn đã tham gia</h4>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row">
            @foreach (var cri in listSorted)
            {
                <div class="ml-5 checkbox-wrapper-19">
                    <input type="checkbox" id="cbox-@i" disabled @(lstCriteriasSucc != null && i - 1 < lstCriteriasSucc.Count() ? "checked" : "")/>
                    <label title="@cri" for="cbox-@i" class="check-box">
                </div>
                i++;
            } 
        </div>


        <table id="example1" class="table table-head-fixed text-nowrap">
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    <th>Tên hoạt động</th>
                    <th>Tiêu chí</th>
                    <th>Ngày diễn ra</th>
                    <th>Trạng thái</th>
                    <th>Nộp minh chứng</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int stt = 1;
                    @foreach (var item in Model)
                    {
                        bool check = true;
                        <tr class="text-center">
                            <td>@stt</td>
                            <td class="text-left">@item.Activity.Name</td>
                            <td>@item.Activity.Type</td>
                            <td>@item.Activity.FromDate.ToString("dd/MM/yyyy") - @item.Activity.ToDate?.ToString("dd/MM/yyyy") </td>

                            @if (item.Approval == false)
                            {
                                <td><span class="border border-secondary text-secondary p-1" style="border-radius:8px">Chưa được duyệt</span></td>
                            }
                            else
                            {
                                <td><span class="border border-success text-success p-1" style="border-radius:8px">Đã duyệt</span></td>
                            }
                            <td class="text-center">
                                @if (DateTime.Now >= @item.Activity.FromDate && DateTime.Now <= @item.Activity.ToDate)
                                {
                                    <button data-id="@item.Id" class="btnupload btn btn-success join" data-toggle="modal" data-target="#uploadModal">Nộp minh chứng</button>
                                } 
                            </td>
                        </tr>
                        stt++;
                    }
                }


            </tbody>
        </table>

        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Tải tệp lên</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="drop-zone" id="dropZone">
                            Kéo và thả file để upload hoặc bấm để duyệt file
                        </div>
                        <input type="file" id="fileInput" accept=".png,.jpg,.jpeg,.pdf" multiple style="display:none;">
                        <div class="file-list" id="fileList"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
    </div>
</div>
<style>
    .modal-dialog-centered {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100% - 1rem);
    }
    .drop-zone {
        border: 2px dashed #cccccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        color: #cccccc;
    }
    .drop-zone.dragover {
        border-color: #000;
        color: #000;
    }
    .file-list {
        margin-top: 10px;
    }
    .file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .file-item button {
        background: none;
        border: none;
        color: red;
        cursor: pointer;
    }
</style>


<style>
  .checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @@-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @@-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @@keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @@keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @@-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @@-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }
</style>


@section Scripts{
    <script>
        var data_id = null;

        $(document).ready(function () {
            let fileList = [];

            $('#dropZone').on('click', function () {
                $('#fileInput').click();
            });

            $('#fileInput').on('change', function (e) {
                handleFiles(e.target.files);
            });

            $('#dropZone').on('dragover', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).addClass('dragover');
            });

            $('#dropZone').on('dragleave', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).removeClass('dragover');
            });

            $('#dropZone').on('drop', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).removeClass('dragover');
                handleFiles(e.originalEvent.dataTransfer.files);
            });
            $('.btnupload').on('click', function () {
                data_id = this.getAttribute('data-id');
                $.ajax({
                    url: "/DSHoatDong/GetImages/" + data_id,
                    type: "GET",
                    success: function (result) {
                        if(result.status)
                        {
                            let lst = $('#fileList');
                            for(var i of result.list)
                            {
                                let Ahref = '<div class="file-item"><a href="/Proofs/'+ i +'">'+ i +'</a></div>'
                                lst.append(Ahref);
                            }
                        }
                        
                    },
                    error: function (error) {
                        console.log("Error load exist files:", error);
                    }
                });



            });
            $('.close').on('click', function () {
                data_id = null;
                
            });
            $('#uploadModal').on('hidden.bs.modal', function () {
                // Xóa tất cả các phần tử trong #fileList
                $('#fileList').empty();
                data_id = null;
            });
            $('#submitBtn').on('click', function () {
                let formData = new FormData();

                formData.append('Student5GoodId', data_id);
                fileList.forEach(file => {
                    formData.append('files', file);
                });

                $.ajax({
                    url: '/DSHoatDong/UploadFile',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        showToast("success", "Đã gửi minh chứng thành công", 2500);
                        // handle success
                    },
                    error: function (response) {
                        showToast("error", "Gửi minh chứng lỗi", 2500);
                        // handle error
                    }
                });
            });

            

            function handleFiles(files) {
                for (let i = 0; i < files.length; i++) {
                    if (['image/png', 'image/jpeg', 'application/pdf'].includes(files[i].type)) {
                        fileList.push(files[i]);
                        displayFile(files[i], fileList.length - 1);
                    } else {
                        alert('Unsupported file type');
                    }
                }
            }

            function displayFile(file, index) {
                let fileListContainer = $('#fileList');
                let fileItem = $('<div></div>').addClass('file-item');
                var link = document.createElement('a');
                link.textContent = file.name;
                link.href = URL.createObjectURL(file);
                let deleteBtn = $('<button></button>').text('Delete').on('click', function () {
                    deleteFile(index);
                });
                fileItem.append(link).append(deleteBtn);
                fileListContainer.append(fileItem);
            }

            function deleteFile(index) {
                fileList.splice(index, 1);
                updateFileList();
            }

            function updateFileList() {
                let fileListContainer = $('#fileList');
                fileListContainer.empty();
                fileList.forEach((file, index) => {
                    displayFile(file, index);
                });
            }
        });
    </script>
}